<a href="https://twitter.com/share" 
  class="twitter-share-button" 
  data-url="<%=url%>" 
  data-lang="<%=I18n.locale%>" 
  data-text="勤怠戦隊キンタイン" 
  data-hashtags="kintain" 
  data-via="ppworks @kkotaro0111">
</a>
