<h1>利用規約</h1>
<ol>
  <li>投稿された勤怠データの紛失が起きた場合、運営チームは責任を負いかねますのでご了承下さい。</li>
  <li>サービスに自体に支障を与える行為や使い方は禁止します。そのような行為が発覚した場合は、IPによるアクセス制限等の措置をとる場合があります。</li>
  <li>ユーザーに予告なく、サービスの内容の変更・中断・削除を行えます。</li>
  <li>利用者が当サイトを利用したこと、または何らかの原因によりこれをご利用できなかったことにより生じる一切の損害および第三者によるデータの書き込み、不正なアクセス、発言、メールの送信等に関して生じる一切の損害について、弊社は、何ら責任を負うものではありません。</li>
</ol>
