*{
	margin:0;
	padding:0;
}

p {
  word-wrap: break-word;
}

img.face {
  border-radius: 3px;
}

ul.sns {
  margin-left: 0;
  >li {
    display: inline-block;
    vertical-align: middle;
  }
}

ul.providers {
  >li {
    display: inline-block;
  }
}

.twtr-widget .twtr-img img {
  width: auto;
  height: auto;
}

body{
	background: image-url("bg.gif") repeat center top;
	font-family:sans-serif;
	#overlay{
		background: image-url("bg_overlay.png") repeat-x center top transparent;
		min-height:833px;
		#wrapper{
			width:640px;
			margin:0 auto;
		}
	}
}

#logo_l{
	padding: 48px 0 0 53px;
}

.login{
	ul.loginbtns{
		padding-top:46px;
		padding-left:49px;
		list-style:none;
		overflow:hidden;
		>li{
			width:171px;
			padding-right:18px;
			float:left;
			font-size:0;
			line-height:0;
			a{
				text-decoration:none;
				color:#333333;
			}
			a:hover{
				text-decoration:underline;
			}
			p.logintext{
				font-size:14px;
				line-height:1.4;
				padding:0 1em;
				color:#333333;
				text-align: center;
			}
		}
	}
}

.description{
  border-radius: 8px;        /* CSS3草案 */  
  -webkit-border-radius: 8px;    /* Safari,Google Chrome用 */  
  -moz-border-radius: 8px;   /* Firefox用 */  
  clear:both;
  background-color:#000;
  width:500px;
  margin:50px auto 0;
  color:#fff;
  padding:20px;
}


ul.events{
	list-style:none;
	padding-left:50px;
	>li{
		padding-bottom:14px;
		cursor: pointer;
	}
}

header{
	padding-top:50px;
	padding-bottom:39px;
	overflow:hidden;
	#logo_s{
		float:left;
		width:160px;
		padding-left:50px;
	}
	#currentuserstatus{
		float:right;
		padding-right:50px;
		img.face{
			width:48px;
			height:48px;
		}
	}

}
ul.sns {
  text-align: center;
}

footer {
  margin: 15px;
  text-align: center;
}

section.withdraw {
  margin: 15px 15px 30px;
  text-align: right;
}

ul.providers {
  padding: 15px;
  border: 1px solid #333;
  border-radius: 10px;
  background: #fff;
  >li {
    font-size: 24px;
    margin-right: 15px;
  }
}

