body.posts {
  h1 {
    text-align: center;
	font-size:24px;
	padding-top:7px;
  }
  nav {
    ul {
      li {
        list-style: none;
        &:first-child {
          margin: 0 0 0 150px;
          float: left;
          width: 59px;
          height: 54px;
        }
        &:last-child {
          margin: 0 150px 0 0;
          float: right;
          width: 59px;
          height: 54px;
        }
      }
    }
  }
  .tomonthly{
	  clear:both;
	  text-align: center;
	  a{
		  color:#4d4d4d;
		  background-color: #FFF;
		  padding:1ex 1em;
		  border:1px solid #4d4d4d;
		  border-radius: 8px;        /* CSS3草案 */  
		  -webkit-border-radius: 8px;    /* Safari,Google Chrome用 */  
		  -moz-border-radius: 8px;   /* Firefox用 */  
		  text-decoration:none;
	  }
	  a:hover{
		  background-color: #4d4d4d;
		  color:#fff;
	  }
  }
  ul.posts {
    padding: 0;
    background: #fff;
	margin:0 auto;
	margin-top: 15px;
	border:1px solid #4d4d4d;
	width:538px;
    >li {
      padding: 10px 8px 1px 8px;
	  overflow:hidden;
      list-style: none;
      &:not(:last-child) {
	    border-bottom:1px solid #4d4d4d;
      }
	  p{
		  font-size:30px;
		  padding-top:13px;
		  padding-left:90px;
	  }
	  img{
		  float:left;
	  }
      
    } 
  }
  section.chart {
	  padding-bottom:9px;
	  width:520px;
	  margin:15px auto 0;
    >* {
      display: inline-block;
    }
    >h2 {
      border: 3px solid #b3b3b3;
      border-radius: 10px;
      padding: 5px;
      width: 36px;
      height: 36px;
      text-align: center;

      background: #fff;
    }
  }
  ul.charts {
    position: relative;
    width: 450px;
    height: 23px;
    padding: 0;
    background: #464ae5;
    &.none {
      background: grey;
    }
    >li {
      position: absolute;
      display: inline-block;
      height: 23px;
      &.event1 {
        background: #464ae5;
      }
      &.event2 {
        background: #ffdf04;
      }
      &.event3 {
        background: #ff1a1a;
      }
      &.event4 {
        background: #ffdf04;
      }
    }
  } 
}
