body.posts {
  h1 {
    text-align: center;
  }
  ul.posts {
    padding: 0;
    >li {
      padding: 5px;
      margin-top: 15px;
      list-style: none;
      background: #fff;
      >section {
        >* {
          display: inline-block;
        }
        >h2 {
          border: 1px solid #b3b3b3;
          border-radius: 10px;
          padding: 5px;
          width: 36px;
          height: 36px;
          text-align: center;

          background: #fff;
        }
      }
    } 
  }
  ul.charts {
    position: relative;
    width: 570px;
    height: 23px;
    padding: 0;
    background: #464ae5;
    &.none {
      background: grey;
    }
    >li {
      position: absolute;
      display: inline-block;
      top: 0;
      height: 23px;
      &.event1 {
        background: #464ae5;
      }
      &.event2 {
        background: #ffdf04;
      }
      &.event3 {
        background: #ff1a1a;
      }
      &.event4 {
        background: #ffdf04;
      }
    }
  } 
}
